/* FILEPATH: c:\All_GitHub_Projects\nimrodgoldberger.github.io\style.css */

/* Header section */
header {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.5rem;
    color: #666;
}

/* Skills section */
.skills {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.skill {
    margin: 0 20px;
    text-align: center;
}

.skill img {
    width: 100px;
    height: 100px;
}

/* Projects section */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 50px;
}

.card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}

.card a {
    display: block;
    font-size: 1.2rem;
    color: #333;
}
